/* tailwind esssentials */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resets */
* {
  /* outline: solid 1px red; */
  scrollbar-width: none;
}

:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: rgb(24 3 23);
  color: white;
}

/* Change the background color and text color of selected text */
::selection {
  background-color: white;
  color: black;
}

::-moz-selection {
  background-color: white;
  color: black;
}

/* ------------ main webpage background noise image ------------ */
.bg-image {
  background-image: url(/public/assets/noise.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ------------ projects video player size ------------ */
/* iframe {
  height: 300px;
  width: 100%;
  border: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
} */

/* ------------ resume download btn interaction ------------ */
@media (hover: hover) and (pointer: fine) {
  .dnRIcon {
    transition: transform 0.3s ease-in-out;
  }

  #dnRBtn:hover .dnRIcon {
    transform: rotate(135deg);
  }
}

@media screen and (max-width:768px) {
  .dnRIcon {
    transform: rotate(135deg);
  }
}

/* code below smooth outs the jitter bug of animations */
.hero-title,
.sub-title,
.hero-subheading,
.hero-btn,
.hero-img {
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0);
}

/* ------------ projects element interactions ------------ */
@media (hover: hover) and (pointer: fine) {
  .projectPreviewIcon {
    transition: transform 0.2s ease-in-out;
  }

  #projectPreviewLink:hover .projectPreviewIcon {
    transform: rotate(-45deg) scale(1.3);
  }
}

/* ------------ Show more project button ------------ */
@media (hover: hover) and (pointer: fine) {
  .showMoreProjectsBtn {
    color: rgba(255, 255, 255, 0.713);
    background-color: transparent;
    border: none;
    transition: all .4s ease-in-out;
  }

  .showMoreProjectsBtn:hover {
    color: #fff;
    text-shadow: 0 0 10px #ffffff8f;
  }
}

/* ------------ Marquee Side Shadows on large displays only ------------ */
.fade-shadow {
  position: relative;
  overflow: hidden;
}

.fade-shadow::before,
.fade-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  z-index: 10;
}

.fade-shadow::before {
  left: 0;
  background: linear-gradient(to right, rgb(24 3 23), rgba(24, 3, 23, 0));
}

.fade-shadow::after {
  right: 0;
  background: linear-gradient(to left, rgb(24 3 23), rgba(24, 3, 23, 0));
}

@media screen and (min-width: 250px) and (max-width: 1033px) {

  .fade-shadow::before,
  .fade-shadow::after {
    width: 0;
  }
}

/* achievements section */
.img-container-gcp {
  background-image: url(/public/assets/gcpBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% center;
}

.img-container-aws {
  background-image: url(/public/assets/awsBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 18% center;
}

@media (hover: hover) and (pointer: fine) {
  .view-badge-icon {
    transition: transform 0.3s ease-in-out;
  }

  #view-badge-btn:hover .view-badge-icon {
    transform: rotate(-45deg) scale(1.1);
  }
}

/* Education section */
@media (hover: hover) and (pointer: fine) {
  #institutionLink {
    transition: all 0.3s ease-in-out;
  }

  #institutionLink:hover {
    opacity: 1;
    transform: translateX(2px);
    background: linear-gradient(to left, #fcf8ff, #63ffbe, #3affef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

/* Contact Section */
.contact-title-underline {
  border: none;
  border-bottom: 3px solid white;
}

/* cool underline effect on the mail-id hover on desktops */
@media (hover: hover) and (pointer: fine) {
  .mail-link {
    position: relative;
    text-decoration: none;
  }

  .mail-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(to right, white, transparent);
    transition: width 0.3s ease-in-out;
  }

  .mail-link:hover::before {
    width: 100%;
  }
}

/* ========= Animated cursor tail effect =========== */

/* :root {
  --glow-rgb: 239 42 201;
} */

.glow-point {
  position: fixed;
  /* box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  z-index: 99999; */
  pointer-events: none;
}

.star {
  position: fixed;
  z-index: 99999;
  color: white;
  font-size: 1rem;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}

/* ----------- added automatically by importing the shadcn/ui into my project ------------ Not in Use ------------ */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */