/* tailwind esssentials */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resets */
* {
  /* outline: solid 1px red; */
  scrollbar-width: none;
}

:root {
  font-family: "Coda", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: rgb(24 3 23);
  color: white;
}

/* Change the background color and text color of selected text */
::selection {
  background-color: white;
  color: black;
}

::-moz-selection {
  background-color: white;
  color: black;
}

/* ------------ main webpage background noise image ------------ */
.bg-image {
  background-image: url(assets/noise.webp);
}

/* ------------ projects video player size ------------ */
iframe {
  height: 300px;
  width: 100%;
  border: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* ------------ resume download btn interaction ------------ */
@media (hover: hover) and (pointer: fine) {
  .dnRIcon {
    transition: transform 0.3s ease-in-out;
  }

  #dnRBtn:hover .dnRIcon {
    transform: rotate(135deg);
  }
}

/* ------------ projects element interactions ------------ */
@media (hover: hover) and (pointer: fine) {
  .projectPreviewIcon {
    transition: transform 0.3s ease-in-out;
  }

  #projectPreviewLink:hover .projectPreviewIcon {
    transform: rotate(-45deg);
  }
}

@media (hover: hover) and (pointer: fine) {
  .project-card-btn {
    transition: transform 0.3s ease-in-out;
  }

  .project-card-btn:hover {
    transform: scale(1.1);
  }
}

/* ------------ Show more project button ------------ */
@media (hover: hover) and (pointer: fine) {
  .showMoreProjectsBtn {
    color: rgba(255, 255, 255, 0.713);
    background-color: transparent;
    border: none;
    transition: all .4s ease-in-out;
  }

  .showMoreProjectsBtn:hover {
    color: #fff;
    text-shadow: 0 0 10px #ffffff8f;
  }
}

/* ------------ Marquee Side Shadows on large displays only ------------ */
.fade-shadow {
  position: relative;
  overflow: hidden;
}

.fade-shadow::before,
.fade-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  z-index: 10;
}

.fade-shadow::before {
  left: 0;
  background: linear-gradient(to right, rgb(24 3 23), rgba(24, 3, 23, 0));
}

.fade-shadow::after {
  right: 0;
  background: linear-gradient(to left, rgb(24 3 23), rgba(24, 3, 23, 0));
}

@media screen and (min-width: 250px) and (max-width: 1033px) {

  .fade-shadow::before,
  .fade-shadow::after {
    width: 0;
  }
}

/* achievements section */
.img-container-gcp {
  background-image: url(./assets/gcpBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.img-container-aws {
  background-image: url(./assets/awsBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

@media (hover: hover) and (pointer: fine) {
  .view-badge-icon {
    transition: transform 0.3s ease-in-out;
  }

  #view-badge-btn:hover .view-badge-icon {
    transform: rotate(-45deg) scale(1.1);
  }
}

/* Education section */
@media (hover: hover) and (pointer: fine) {
  #institutionLink {
    transition: all 0.3s ease-in-out;
  }

  #institutionLink:hover {
    opacity: 1;
    transform: translateX(2px);
    background: linear-gradient(to left, #fcf8ff, #63ffbe, #3affef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}