@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: solid 1px red; */
  scrollbar-width: none;
}

:root {
  font-family: "Coda", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: rgb(24 3 23);
  color: white;
}

.bg-image {
  background-image: url(assets/noise.webp);
}

iframe {
  height: 300px;
  width: 100%;
  border: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* hero section download resume btn interaction */
@media (hover: hover) and (pointer: fine) {
  .dnRIcon {
    transition: transform 0.3s ease-in-out;
  }

  #dnRBtn:hover .dnRIcon {
    transform: rotate(135deg);
  }
}

/* projects element interactions */
@media (hover: hover) and (pointer: fine) {
  .projectPreviewIcon {
    transition: transform 0.3s ease-in-out;
  }

  #projectPreviewLink:hover .projectPreviewIcon {
    transform: rotate(-45deg);
  }
}

@media (hover: hover) and (pointer: fine) {
  .project-card-btn {
    transition: transform 0.3s ease-in-out;
  }

  .project-card-btn:hover {
    transform: translateY(3px);
  }
}